<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <springProfile name="nais">
        <root level="INFO">
            <appender-ref ref="stdout_json" />
        </root>
    </springProfile>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml" />
        <logger name="no.nav.oebs.po_ap" level="INFO" />
    </springProfile>
</configuration>
